<!--
<footer>
<div id="footer">
    <center><h3>Copyright &copy; Reflective Regression Repository</h3></center>
</div>
</footer>
-->
<section class="footer-text">
      <div>Copyright &copy; Reflective Regression Repository</div>
</section>