<!--
<footer>
<div id="footer">
    <center><h3>Copyright &copy; Reflective Regression Repository</h3></center>
</div>
</footer>
-->
<section class="cc">
	<div class="container">
      <div class ="footer-text">Copyright &copy; Reflective Regression Repository</div>
  </div>
</section>