<header>
	<section class="header-text">
	      <div class = "post-section">
	      	<div class = "grid-container">
	      		<div class = "col-left"><%= link_to "Home", '/posts/index' %></div>	      	
		      	<div class = "col-right"><%= link_to("Posts", '/allposts/allshow') %> | <%=mail_to("robin.b@outlook.com", "Contact", subject: "Hi! Please include your name and email address") %></div>		      	
		    </div>
	      </div>
	</section>
</header>