<!doctype html>
<link href="https://fonts.googleapis.com/css?family=Lobster|Tangerine|Monospace" rel="stylesheet" type="text/css">

<html lang="en" style="background-color: #000000">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">            
        <title>Reflective Regression Repository</title>
    </head>
    <body>
        <div id="header">
        	<%= image_tag 'profile_gray.png', class: 'aligncenter' %>
            <h1>Reflective Regression<br>Repository</h1>
        </div>
        
        <div id="body">
            <div class="post-section">
            	<h3>Post Title</h3>
            	<p class="date-text"><i>Posted By Robin Börjesson on Sunday 13, 2018</i></p>
            	<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff. So perhaps, you've generated some fancy text, and you're content that you can now copy and paste your fancy text in the comments section of funny cat videos, but perhaps you're wondering how it's even possible to change the font of your text? Is it some sort of hack? Are you copying and pasting an actual font?</p>
            	<hr>
            </div>
            <div class="post-section">
            	<h3>Post Title</h3>
            	<p class = "date-text"><i>Posted By Robin Börjesson on Sunday 13, 2018</i></p>
            	<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff. So perhaps, you've generated some fancy text, and you're content that you can now copy and paste your fancy text in the comments section of funny cat videos, but perhaps you're wondering how it's even possible to change the font of your text? Is it some sort of hack? Are you copying and pasting an actual font?</p>
            	
            </div>
        </div>
        <div id="footer">
            <center><h3>FOOTER</h3></center>
        </div>
    </body>
</html>